body {
  --blue1: #a5c6ea;
  --blue2: #697eef;
  --blue3: #4942E4;
  --purple1: #cdaff1;
  --purple2: #b347ed;
  --pink1: #f2369f;
  --pink2: #c215bf;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--blue2); 

}
#grad1 {
  height: 100vh;
  background-image: linear-gradient(0deg, var(--blue2), var(--blue1), var(--blue1), var(--blue1));
}
main {
  display: flex;
  justify-content: center;
}
@media (min-width: 800px) {
  body{
  --measure: 1vw;
  background-color: #4942E4;  
  }
}
@media (max-width: 800px) and (min-width: 400px) and (min-height: 800px) {
  body{
  --measure: 1vh;  
  background-color: #f2369f;
  }
}
/*De aici nu mai merge stilul tabelului, facem ceva mai simplu*/
@media (max-width: 800px) and (max-height: 800px){
  body{
    --measure: 1.5vw;
    background-color: aqua;
    }
}
@media (max-width: 400px){
  body{
    --measure: 1.5vh;
    background-color: red;
    }
}
@media (max-height: 400px){
  body{
    --measure: 1.5vw;
    background-color: green;
    }
}
@media (max-height: 200px){
  body{
    --measure: 2vw;
    }
}