body{
  background-color: #0A174E;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: 'all 2s';
}
#buttons-container{
  height: 3em;
  display:flex;
  justify-content: space-around;
}
.press{
  border: 0.1em solid #697eef;
  padding-left: 1em;
  padding-right: 1em;
  background-color: floralwhite;
  font-size: 1.5em;
  color: #697eef;
  cursor: pointer;
}
#form-container{
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  margin-left: 0;
  margin-top: 10vh;
}
#formular{
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
fieldset{
  border: 0.7vh solid #697eef;
  width: auto;
  height: auto;
  margin-bottom: 5vh;
  padding: 3vw;
  background-color:hsl(229, 77%, 17%, 85%);
}
ul{
  color: #2BEECD;
  margin-left: -3vw;
  font-size: 1em;
}
label, a{
  color: floralwhite;
  margin-right: 1em;
}
input[type=text]{
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: #0A174E;
}
#selected_rating{
  font-size: 1em;
  color: floralwhite;
  margin-left: 8.5em;
  margin-top: -0.3em;
}
#button-container{
  display: flex;
  justify-content: center;
}
#final-button{
  border: 0.7vh solid #697eef;
  background-color:hsl(229, 77%, 17%, 85%);
  padding: 1vw;
  font-size: 1em;
  color: floralwhite;
}
#idea{
  margin-top: 1em;
}